<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @blog_post.title %>
</p>

<p>
  <strong></strong>
  <%= @blog_post.user.email %>
</p>

<p>
  <strong>Blog entry:</strong>
  <%= @blog_post.blog_entry %>
</p>

<%= link_to 'Edit', edit_blog_post_path(@blog_post) %> |
<%= link_to 'Back', blog_posts_path %>

<div>
  <%= render 'comments/form' %>
    <div class="panel panel-default">
      <div class="panel-header">
        <h4>Comments</h4>
      </div>
      <% @blog_post.comments.each do |comment| %>
        <div class="panel-body">
          <p><strong> <%= comment.user.email %></strong> said: <%= time_ago_in_words(comment.created_at) %> ago</p>
          <p><%= comment.comment_entry %></p>
        </div>
      <% end %>
</div>
  
</div>
